/* ----------------- */
/* Custom Properties */
/* ----------------- */
:root {
  /* colors */
  --clr-blue: #666CA3;
  --clr-dark: #13183F;
  --clr-gray: #83869A;
  --clr-dk-pink: #F74780;
  --clr-lt-pink: #FFA7C3;
  --clr-white: #FFFFFF;
  /* gradients */
  /* example - background: var(--bg-gadient-1); */
  --bg-gradient-1: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  --bg-gradient-2: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);

  /* fonts 
    font-family: 'Plus Jakarta Sans', sans-serif;
  */  
  --ff-main: 'Plus Jakarta Sans', sans-serif;

  /* font sizes */
  /* Heading (XL) - 56px/70px line height */
  --fs-heading-xl: 3.5rem;
  /* Heading (L) - 40px/41px line height */
  --fs-heading-lrg: 2.5rem;
  /* Heading (M) - 32px/40px line height */
  --fs-heading-med: 2rem;
  /* Heading (S) - 24px/28px line height */
  --fs-heading-sml: 1.5rem;
  /* Body (M) - 18px/28px line height */
  --fs-body-med: 1.125rem;
  /* Body (S) - 16px/28px line height */
  --fs-body-sml: 1rem;

  /* line heights */
  --lh-lrg: 4.375rem;
  --lh-med: 2.5rem;
  --lh-sml: 1.75rem;

}


/* ======================== */
/* Reset and General Styles */
/* ======================== */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-main);
  line-height: 1.1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--clr-white);
  color: var(--clr-gray);
}

/* Utility Classes */

.container {
  margin-inline: auto;
  /* adjust padding values */
  padding-inline: 1.6rem; 
  max-width: 90em;
}

@media (min-width: 75em) {
  .container {
    padding-inline: 16.5rem;
  }
}

@media (min-width: 60em) {
  .container {
    padding-inline: 8rem;
  }
}

@media (min-width: 48em) {
  .container {
    padding-inline: 4rem;
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* ========== */
/* Typography */
/* ========== */


/* ========== */
/* Components */
/* ========== */

.button {
  display: inline-block;
  font-family: inherit;
  font-size: var(--fs-body-med);
  line-height: var(--lh-sml);
  font-weight: 700;
  color: var(--clr-white);
  border: none;
  cursor: pointer;
}

.btn-1,
.btn-3 {
  padding: 14px 32px;
  border-radius: 28px;
}

.btn-1 {
  background: var(--clr-dark);
}

.btn-1:hover,
.btn-1:active {
  background: var(--clr-blue);
}

.btn-2 {
  padding: 19px 32px 16px;
  border-radius: 31.5px;
  background: var(--bg-gradient-1);
}

.btn-2:hover,
.btn-2:active {
  background: 
    linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.btn-3 {
  background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

.btn-3:hover,
.btn-3:active {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}



/* ============== */
/* General Styles */
/* ============== */

/* Header Styles */
.header {
  /* check  need for this */
  overflow: hidden;
}

.navigation {
  padding-block: 2.5em;
}

.nav-items {
  justify-content: space-between;
  align-items: center;
}

.header-container {
  /* margin-inline: auto;
  justify-content: space-between;
  align-items: center; */

  /* testing only */
  margin-bottom: 175px;
  border: 1px solid red;
}


@media (min-width: 48em) {
  .navigation {
    padding-block: 1.5em;
  }
  .hero {
    display: grid;
    grid-template-columns: 6fr 6fr;
    padding-right: 0;
  }
}

@media (min-width: 60em) {
  .hero {
    grid-template-columns: 5fr 7fr;
  }
}

.hero-content {
  max-width: 60ch;
  /* check this value/unit */
  padding-block: 2rem;
}

@media (min-width: 48em) {
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 48em) {
  .hero-image {
    /* adjust these values */
    margin-top: 12.5rem;
    position: relative;
    z-index: -100;
    max-width: 150%;
  }
}
/* adjust media min-width value */
@media (min-width: 75em) {
  .hero-image {
    margin-top: -25rem;
  }
}



/* courses section */
.courses {
  /* temp padding for spacing */
  padding-top: 250px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%)
}

/* Footer */

.footer {
  margin-top: auto;
  background: var(--clr-dark);
}

