/* ----------------- */
/* Custom Properties */
/* ----------------- */
:root {
  /* colors */
  --clr-blue: #666CA3;
  --clr-dark: #13183F;
  --clr-text: #83869A;
  --clr-dk-pink: #F74780;
  --clr-lt-pink: #FFA7C3;
  --clr-white: #FFFFFF;
  /* gradients */
  --bg-gradient-1: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  --bg-gradient-2: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
  /* fonts 
    font-family: 'Plus Jakarta Sans', sans-serif;
  */  
  --ff-main: 'Plus Jakarta Sans', sans-serif;
  /* font sizes */
  /* Heading (XL) - 56px/70px line height */
  --fs-heading-xl: 3.5rem;
  /* Heading (L) - 40px/41px line height */
  --fs-heading-lrg: 2.5rem;
  /* Heading (M) - 32px/40px line height */
  --fs-heading-med: 2rem;
  /* Heading (S) - 24px/28px line height */
  --fs-heading-sml: 1.5rem;
  /* Heading (XS) - 20px/25.2px line height */
  --fs-heading-xs: 1.25rem;
  /* Body (M) - 18px/28px line height */
  --fs-body-med: 1.125rem;
  /* Body (S) - 16px/28px line height */
  --fs-body-sml: 1rem;
  /* line heights */
  --lh-lrg: 4.375rem;
  --lh-med: 2.5rem;
  --lh-sml: 1.75rem;
}


/* ======================== */
/* Reset and General Styles */
/* ======================== */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-main);
  line-height: 1.1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--clr-gray);
}

/* Utility Classes */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  margin-inline: auto;
  padding-inline: 1rem; 
  max-width: 68.75em;
}

@media (min-width: 48em) {
  .container {
    padding-inline: 2.5rem;
  }
}

@media (min-width: 75em) {
  .container {
    padding-inline: 0;
  }
}


/* ========== */
/* Typography */
/* ========== */

h1, h2, h3, h4 {
  color: var(--clr-dark);
}

p {
  font-size: var(--fs-body-sml);
	font-weight: 500;
	line-height: 1.5;
	color: var(--clr-text);
}

.main-heading {
  font-size: var(--fs-heading-lrg);
  margin-bottom: .5em;
  max-width: 15ch;
}

.hero-text {
  max-width: 500px;
  /* margin: 0 auto; */
}

.header-text {
  font-size: var(--fs-body-sml);
  margin-bottom: 1.75em;
  /* max-width: 36ch; */
}



@media (min-width: 75em) {
  .main-heading {
    font-size: var(--fs-heading-xl);
  }
  .header-text {
    font-size: var(--fs-body-med);
  }
}


/* ========== */
/* Components */
/* ========== */

.button {
  display: inline-block;
  font-family: inherit;
  /* font-size: var(--fs-body-med); */
  line-height: var(--lh-sml);
  font-weight: 700;
  color: var(--clr-white);
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.btn-1, 
.btn-3 {
	padding: .6em 1.5em;
	border-radius: 28px;
	font-size: var(--fs-body-sml);
}

.btn-1 {
  background: var(--clr-dark);
  z-index: 1000;
}


.btn-2 {
	padding: .75em 1.75em;
	border-radius: 50em;
	background: var(--bg-gradient-1);
}

.btn-3 {
  background: var(--bg-gradient-2);
}

.button:hover {
  opacity: 0.6;
}


/* ============== */
/* General Styles */
/* ============== */

/* Header Styles */
.header {
  padding-top: 1rem;
}

.nav-items {
  justify-content: space-between;
  align-items: center;
}

.hero {
  padding-top: 2.375rem;
}

@media (max-width: 48em) {
  .hero-image {
    margin-inline: auto;
  }
}


@media (min-width: 48em) {
  .header {
    padding-bottom: 3em;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(5, minmax(10px, 1fr));
    padding-top: 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-column: 1 / span 3;
  }

  .hero-img-container {
    grid-column: 4 / span 2;
  }

  .hero-image {
    margin-top: -30%;
    margin-left: -15%;
    max-width: 225%;
  }

}


/* adjust media min-width value */
@media (min-width: 75em) {
  .hero-image {
    margin-top: -8em;
    margin-left: -30%;
    max-width: 250%;
  }
}

@media (min-width: 90em) {
  .hero-image {
    margin-top: -12em;
    margin-left: -30%;
  }
}

/* courses section */
.courses {
  padding-bottom: 5rem;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%)
}

.courses-grid {
  row-gap: 2.5rem;
}

.courses-header {
  margin-bottom: 1.5em;
  padding: 1.5em 2em;
  background: var(--bg-gradient-1);
  border-radius: .625rem;
}

.courses-header h2 {
  color: var(--clr-white);
  font-size: var(--fs-heading-sml);
  line-height: 1.3;
}

.course-card {
  position: relative;
  padding: 3.5em 1.75em 2em;
  background: var(--clr-white);
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}

.course-icon {
  position: absolute;
  top: -28px;
}

.course-overview h3 {
  margin-bottom: 1rem;
  font-size: var(--fs-heading-xs);
}

.course-overview p {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.course-link {
  margin-top: auto;
  font-size: var(--fs-body-med);
  line-height: 1.5;
  color: var(--clr-dk-pink);
  text-decoration: none;
}

.course-link:hover,
.course-link:active {
  text-decoration: underline;
}

@media (min-width: 48em) {
  .courses {
    padding-top: 2.5rem;
  }

  .courses-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem .625rem;
  }

  .courses-header {
    margin-bottom: 0;
    padding: 3.5em 2em 0;
    background: var(--bg-gradient-1);
    border-radius: .625rem;
  }

  .course-card {
    padding: 4em 2.5em 2em;
    border-radius: 15px;
  }

}

@media (min-width: 75em) {
  .courses-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem 1.5rem;
  }

  .courses-header h2 {
    font-size: var(--fs-heading-med);
  }

  .course-card {
    height: 20.125rem;
  }

  .course-overview {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .course-overview h3 {
    font-size: var(--fs-heading-sml);
  }

  .course-overview p {
    font-size: var(--fs-body-med);
    max-width: 22ch;
  }
}


/* Footer */

.footer {
  margin-top: auto;
  padding: 2.25rem 0;
  background: var(--clr-dark);
}

